#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 30px;
  }
  .country{
    background: lightblue;
    border: 2px solid gray;
    padding: 20px;
    border-radius: 20px;
  }